body{
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link{
    color:red;
}
a:hover{
    color:green;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:active{
    color:lime;
}
li{
    font-size: 15px;
}
h1{
    color: orange;
    text-align: center;
}